@model EscritorioAdvocacia.Models.Processo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroUnificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroUnificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusAndamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusAndamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoAndamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoAndamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt class="col-sm-2">
            Advogado Responsável
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdvogadoResponsavel.Nome)
        </dd>

        <dt class="col-sm-2">
            Tipo de Processo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoProcesso.Nome)
        </dd>

        <dt class="col-sm-2">
            Vara de Origem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VaraOrigem.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="MeusProcessos" asp-action="Edit" asp-route-id="@Model?.Id">Editar Andamento</a> |
    <a asp-controller="MeusProcessos" asp-action="Index">Voltar para Meus Processos</a>
</div>
